@import '../components/filterSearch';
@import '../components/headerTodos';
@import '../components/todoList';

.HomeContainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(6, minmax(100px, 1fr));
    grid-template-areas: 
    "header"
    "search"
    "main";
    background: $LinearBG;
}