.List-Tasks-Container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    :nth-child(odd) {
        position: absolute;
        margin: 50px;

    }

    .Completed-taskList--Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 190px;
    }

    .unCompleted-taskList--Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 190px;
    }
}