.info-User-Container{
    z-index: 10;
    width: 100%;
    display: flex;
    top: 0;
    left: calc(100% - 50%);
    height: 60px;
    background: white;
    border-radius: 35px;
    align-items: center;
    justify-content: space-evenly;
}